:root {
  --ip-yellow:#ffe600;
  --ip-blue:#0000ff;
  --ip-box-shadow: 0px 18px 53px 0px rgba(0,0,0,0.3);
  --repeat:#00b7ff;
  --left:#ff0000;
  --star:#035f21;
  --right:#ff0000;
  --lightning:#ffe600;

}